.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    // padding: 0 0 0 50px;
    .title{
        margin: 10px 0px;
    }
    .but-style{
        display: flex;
        justify-content: space-between;
    }
}


